.navigation ul {
  width: auto; /* le navigateur  calculera et sélectionnera une largeur pour l'élement   */
  list-style-type: none;  /*définir l'apparence de la puce du élement de liste */
  margin: 0; /* la taille des marges sur les quatre cotés   */
  padding: 0; /*  les écarts de remplissage sur les quatre cotés du l'élément   */ 
  overflow: hidden; /* définit comment gérer le dépassement du contenu d'un élment dans son bloc, est le contenu est rogné   */
  background-color: #333; /* la couleur utilisée pour l'arriére-plan  */ 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* liste d'ombre séparés     */ 

}

header{
    position : fixed; /* l'élément est positionné realtivement au bloc englobant initial formé par la zone d'affichage  */ 
    top : 0
    margin:0;  /* la taille des marges sur les quatre cotés   */
    width :100% ;

}

.navigation li {
  float: left; /* l'élément reltiré du flux normal et placé sur le coté gauche    */ 
}

#connexion{
    padding : 0px;  /*  les écarts de remplissage sur les quatre cotés du l'élément   */
    margin : 0px;   /* la taille des marges sur les quatre cotés   */
}



.navigation  li a {
  display: block; /* définit type d'affichage utilisée pour le rendu d'élément(type est display-outside)  */
  color: white;
  text-align: center; /* le contenu sont hozizontalement centrés par rapport à la boite contenu la ligne   */
  padding: 16px 16px; /* remplissage pour l'élément sur 16 pixel pour le haut et le bas et 16 px pour les cotés droite et gauche  */
  text-decoration: none; /*  aucune décoration */ }

a:link {
  text-decoration: none;   /* aucune décoration   */
  color: cadetblue; /* couleur nleu cadet  */
}

/* visited link */
a:visited {
  color: steelblue; 
}

/* mouse over link */
a:hover {
  color: skyblue;
}

/* selected link */
a:active {
  color: blue;
}

.navigation  li a:hover {
  background-color: #111;
}

li.sous-menu {
  display: inline-block; /*  les marges et les rembourrages su^périeurs et inférieur sont respectés*/
}

.contenu-sous-menu {
display:   none; /* aucun affichage    */
color : black;
position: absolute; /* l'élément est retiré du flux normal et aucun espace n'est crée pour l'élément   */
  background-color:  grey;
  min-width: 160px; /* largeur minimal   */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* liste d'ombre séparés     */ 
  z-index: 1;
}

.contenu-sous-menu a {
  color: black;
  padding: 12px 16px; /* remplissage pour l'élément sur 12 pixel pour le haut et le bas et 16 px pour les cotés droite et gauche  */
  text-decoration: none; /*aucune décoration  */
  display: block; /*  affichage un élement comme un élément de bloc. il commence sur une nouvelle ligne, et prends toutes la largeur  */ 
  text-align: left; /* Aligne le texte vers la gauche */
}



.sous-menu:hover .contenu-sous-menu {
  display: block; 
}

ul.optionsSecondaires{
  list-style-type : none; /* aucun marqueur n'est affiché  */
  float : right; /* laisser une image glotter à droite   */
    box-shadow: none;
    margin : 0px;
    padding : 0px;

}

ul.optionsSecondaires li{
  display : inline-block;
    padding-left : 5px; /* l'écart de remplissage à gauche   */
    padding-right:5px;
    padding-bottom: 0px; /*ajuste la hauteur de la boite de remplossage en haut de l'élément   */
    margin-bottom: 0px;
}

.options{
    padding-right : 10px;
    padding-left : 10px;
	  position : relative; /* l'élément est postionné dans le flux normal puis décalé  */
	  left : 5px;
    float : right; /* l'élément est retiré du flux et placé a gauche   */
}

.form{
    float : right;
    position : relative;
}

#auto-suggest {
    width:100%;
    margin-left:20px; /* y a un espace de 20 px à la gauche de l'élemnt  */
    }

#auto-suggest .search {
	 width:100%;
    height:33px;
    border:1px solid #cdcdcd;
	color:#ccc;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:bold;	/* la graisse utulisée pour le text ( en gras ) */
	-moz-border-radius:2px; /* les coins arrondis pour la bordure du l'élément   */ 
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#auto-suggest .search:focus {
	color:#555;border-color:#c8c8c8;	
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#auto-suggest .suggestions {
	width:inherit;
    position: fixed;  /* l'élément est retiré du flux normal et aucun espace n'est laissé pour l'élément   */
    margin:-6px auto 0; /* la taille des marges sur les quatre cotés  */
    padding:0;
    list-style-type:none;
    border:1px solid #d5d4d4; /* */ 
    background:#fff;
	 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; /* police utilisé pur mettre en forme le texte   */
   font-size:13px;
   color:#555;  
	 -moz-border-radius:2px;  /*  */
	 -webkit-border-radius:2px; 
	 border-radius:2px;	
	 -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	 -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	 box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#auto-suggest .suggestions li {
    height:25px; /* la hauteur de content du l'élément  */
    padding:0 0px;
    line-height:25px; /* la hauteur minimale des lignes  */
    cursor: pointer; /* la forme du curseur  */
    border-top:1px solid #f5f5f5 /* permet de parmeterer la bordure   */
    }
#auto-suggest .suggestions li:hover {
    background: no-repeat #fffac2;  /* il y'a aucune répétition de l'image */
    background-position:320px center;
    border-top-color:#fffac2   /*  la couleur utilisé pour la bordure haute du l'élément   */
}

#auto-suggest .suggestions li:first-child {
    border:none;  /*  */
    }
.recherche{
    float : right; /*  */
    width : 20%;
    margin-top : 10px; /* l'éspace vertical pour la marge appliquée en haut de l'élément */
    margin-right : 29px; /* l'espace horizontal à droite  */
} 
form.connexion{
 margin-bottom : 0px;
}
button,  input[type="submit"], input[type="reset"] {
  cursor: pointer;
  margin-top : 7px;
	padding:6px 0 6px 0;
	font:bold 13px Arial;  /* Définit les caractères épais */
	background:#f5f5f5;
	color:#555; 
	border-radius:2px; /* définit des coins arrondis pour la bordure du l'élément  */ 
	width:100px; 
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}
/*  */
body{
    display: flex; /* */ 
    padding : 0;
    margin : 0;
    flex-direction: column; /* les éléments flexibles sont placés dans le conteneur flexible */
    background-color: #336666; 
    font-family: Calibri;
}

footer {
    width : 78%; /*  */
    margin: 10px auto;
    background: white;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 2px;

}
 /* colonne de gauche contenant la liste des categories*/
.leftcolumn {
   float: left;
    width: 11%;
    padding-left: 5px;
}
li.logo a{
    padding : 0px;
    background-color: ;
}
.rightcolumn {
    overflow-wrap: break-word;
    text-align: justify;
    overflow :hidden;
    text-overflow: ellipsis ;
    float: right;
    width: 20%;    
}
/*colonne centrale contenant des statistiques*/
.centercolumn{
    float : left;
    width: 66%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 0px;
}

.liste{
    width: 100%;
    height: 300;
    overflow-x: scroll;  /*le contenu est rogné afin de tenir horizontalement dans le remplissage    */
    overflow-y: hidden; /* le contenu est rogné afin de tenir horizontalment dans la boite de remplissage   */
}

.ul_liste{
    width :1500;
    height: 270;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contenu{
    margin-left : 10px;
    margin-bottom : 10px; /* la marge basse appliquée à l'élément */
    margin-top : 110px; /* l'espace vertical pour la marge appliquée en haut de l'élément   */
    margin-right: 10px; /* définit l'éspace horizontal à droite qui formera la marge à droite  */
}

.page{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;  /* la marge basse appliquée a l'élément  */
    width :78%;
    padding-right : 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color : white; 
    border-radius: 2px;  /* les coins arrondis pour la bordure du l'élément  */
}

#avis, #description{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box; /* les propriétés width et height incluent le contenu, le remplissage (padding), la bordure, mais pas la marge  */
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none; /* controler le caractére redimensionnable */
}  
figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column; /* */ 
        padding: 5px;
        max-width: 182px;
        margin: auto;
    }

    img {
        max-width: 182px; /* la largeur maximale du l'élement   */
        max-height: 268px;  /* la hauteur maximale du l'élément   */
    }

    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;  /* les polices systéme pour la police de caractere du l'élément  */
        padding: 3px;
        text-align: center;
    }

    h1{
        text-align: center; /* le contenu est centrée   */
    }

    td{
        padding: 15px; 
    }

