fieldset {
    padding:0 20px 20px 20px;
    margin: auto;
    border:1px solid darkgray;
    background-color:#EFF2F7;
    width: 30%;
    border-radius:8px;	
}
legend {
    color:darkgray;
    font-weight:bold;
    margin-bottom:0px;
    margin-left:16px;
    display:block; 
    text-align:center;
}

#infos {
    text-align: center;
}

input.placeholder {
    text-align: center;
}
